* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none ;
    padding: 5px;

}
a {
    text-decoration: none;
}
ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
align-items: flex-start;
margin-top: 2rem;
}
